
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.red {
  background-color: lightcoral;
}
.green {
  background-color: greenyellow;
}
.yellow {
  background-color: lightpink;
}
.navRoot {
  width: 100%;
  height: 10vh;
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 10%;
}
.navButton {
  width: 50%;
  margin-left: -10%;
}
.navButtonList {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navButtonListItem {
  text-transform: uppercase;
  color: #ad8b39;
}
.loginButtons {
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginText {
  text-transform: uppercase;
  color: #ad8b39;
}
.stayButton {
  text-transform: uppercase;
  border: none;
  background-color: #ad8b39;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
}
.mainContainer {
  background-image: url("./image/taj2.avif");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.searchConatiner {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ad8b39;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatContainer {
  position: fixed;
  bottom: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ad8b39;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.indiasPrideContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}
.logoPride {
}
hr {
 transform: rotate(90deg);
  height: 100px;
  
  margin-left: auto;
  margin-right: auto;
}
.indiasPrideContainerheadingText {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 100;
}
.indiasPrideContainerP {
  text-align: center;
  font-weight: 100;
}

.indiasPrideImageContainer {
  height: 60vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vh;
}
.imageIndia {
  height: 100%;
  width: 100%;
}
.latestOffers {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 70vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latestOffers > .heading {
  margin-right: 10vw;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}
.latestOffers > .paragraph {
  font-weight: 100;
}
.imageContainer {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 5vh;
}
.imageBox {
  height: 100%;
  width: 31%;
  position: relative;
}

.imageText {
  position: absolute;
  right: 0;
  bottom: -4vh;
  background-color: #ffffff;
  height: 20%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageTextBlack {
  font-weight: 100;
  text-transform: uppercase;
}

.imageTextBrown {
  font-weight: 100;
  text-transform: uppercase;
  color: #ad8b39;
  text-decoration: underline;
}
.carousalContainer {
  width: 100%;
  height: 100vh;
  background-image: url("./image/carousalImageblur.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20vh;
}
.gradiant {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.75) 50%,
    rgba(247, 247, 247, 0.1) 100%
  );
}

.exclusiveTextContainer {
  margin: 5%;
  color: white;

  display: flex;
  justify-content: space-between;
  width: 70%;
}

.exclusiveTextContainer > .heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.exclusiveTextContainer > .paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousalImage {
}

.carousalImg {
}

.textContainer {
}

.footerRoot {
  width: 100%;
  height: 80vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerConatiner {
  height: 80%;
  width: 80%;
  border: 1px solid white;
}
.footerImageContainer {
  height: 10%;
  width: 10%;
}
.footerOptions {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.latestUpdate {
  border: 1px solid white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5% 3% 2% 0;
}
.quickLinks {
  border: 1px solid white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.connectWithUs {
  border: 1px solid white;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.latestUpdatestext {
  text-transform: uppercase;
  color: #a5a2a2;
}
